body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.hero {
    height: 200vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-image: url("../Blog\ Homepage/IMG_4904.JPG");
    background-size: cover;
    background-position: center;
}

.hero h1 {
    font-size: 50px;
    text-transform: uppercase;
}